@{
    ViewData["Title"] = "Reset Password Confirmation";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="account-form-container">
                    <h2 class="text-center mb-4">Password Reset Complete</h2>
                    <p class="text-center mb-4">
                        Your password has been reset successfully. You can now use your new password to log in.
                    </p>
                    <div class="form-group mb-3 text-center">
                        <p>
                            <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Return to login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>